In [2]:
import sys
!"{sys.executable}" -m pip install pycoingecko

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pycoingecko in /Users/jasonlo/Library/Python/3.8/lib/python/site-packages (2.2.0)
Requirement already satisfied: requests in /Users/jasonlo/Library/Python/3.8/lib/python/site-packages (from pycoingecko) (2.25.1)
Requirement already satisfied: certifi>=2017.4.17 in /Users/jasonlo/Library/Python/3.8/lib/python/site-packages (from requests->pycoingecko) (2021.10.8)
Requirement already satisfied: idna<3,>=2.5 in /Users/jasonlo/Library/Python/3.8/lib/python/site-packages (from requests->pycoingecko) (2.10)
Requirement already satisfied: chardet<5,>=3.0.2 in /Users/jasonlo/Library/Python/3.8/lib/python/site-packages (from requests->pycoingecko) (4.0.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Users/jasonlo/Library/Python/3.8/lib/python/site-packages (from requests->pycoingecko) (1.26.7)

In [3]:
%load_ext autoreload
%autoreload 2

In [36]:
import pandas as pd
import coingeckokit as cgk
import datetime as dt
import time
import json
import numpy as np

In [2]:
from pycoingecko import CoinGeckoAPI
cg = CoinGeckoAPI()
MODDAYS = 30 #re download data if more than MODDAYS old

In [4]:
exList = cgk.getExchangesList(MODDAYS)
supportedCurrencies = cgk.getSupportedCurrencies(MODDAYS)
coinsList = cgk.getCoinsList(MODDAYS)

In [ ]:
def getCoinGeckoId(symbols, forceLower = True):
    # get CoinGeckoId from Coin symbol
    # set forceLower = False if don't want to get lower case of symbol
    cg = CoinGeckoAPI()
    coinsList = cg.get_coins_list()
    dfCoinsList = pd.DataFrame(coinsList)

    ids = []
    if type (symbols)!=list:
        symbols = [symbols]
    for symbol in symbols:
        if forceLower:
            symbol = symbol.lower()
        try:
            id = dfCoinsList[dfCoinsList['symbol']==symbol]['id'].iloc[0]
            ids.append(id)
        except ValueError:
            ids.append(np.nan)
    return ids

In [ ]:
symbols = ['BTC','ETH']
ids = cgk.getCoinGeckoId(symbols)
ids

In [ ]:
symbols = ['BTC', 'LTC', 'PPC', 'NMC', 'XRP', 'AUR', 'DASH', 'nxt', 'BTS', 'XPY', 'ETH', 'STEEM', 'BCH', 'USDT', 'bnb', 'ADA']
coins_list_df[coins_list_df['symbol'].isin(symbols)]

In [ ]:
dt.datetime.now().replace(microsecond=0, hour=0, second=0, minute=0)

In [5]:
symbols=['ADA', 'SPA',
 'WAVES', 'ZEC', 'FTC', 'SOL', 'MEC', 'STRAT', 'TRX', 'BNB',
 'TRMB', 'AMP', 'FRC', 'BCN', 'XPM', 'DASH', 'FCT', 'REP', 'MAID', 'XRP', 'BCH', 'LUNA', 'BCC', 'XPY', 'ETH', 'GNT', 'LTC', 'CNC', 'NSR', 'WDC',
 'STO', 'NEO', 'LINK', 'BTC', 'NXT', 'XMR', 'ETC', 'THETA', 'ICP', 'STEEM',
 'QRK', 'BLK', 'SHIB', 'LSK', 'PTS', 'WBTC', 'IFC', 'MIOTA', 'XCP', 'EMC', 'TRC', 'BSV', 'CRO', 'DGC', 'DAO', 'EOS', 'TIPS', 'CBX',
 'APH', 'TAGZ5', 'AUR', 'XEM', 'BTS', 'LEO', 'XTZ', 'MNC', 'START', 'DOGE', 'NVC', 'OMNI', 'UNI', 'XC','BANX',
 'DOT', 'BTG', 'PIVX','YAC',
 'XLM','NMC',
 'PPC','AVAX',
 'DVC']

# ids = cgk.getCoinGeckoId(symbols)
# df = cgk.getCoinGeckoMarket(symbols, modDays=0,forceUpper = True)
# ids
# df

In [17]:
coinsList = cgk.getCoinsList(MODDAYS)
dfCoinsList = pd.DataFrame(coinsList)
ids = cgk.getCoinGeckoId(symbols)
df = cgk.getCoinGeckoMarket(symbols, modDays=MODDAYS,forceUpper = True)

loading ADA
loading SPA
loading WAVES
loading ZEC
loading FTC
loading SOL
loading MEC
loading TRX
loading BNB
loading AMP
loading FRC
loading BCN
loading XPM
loading DASH
loading FCT
loading REP
loading MAID
loading XRP
loading BCH
loading LUNA
loading ETH
loading GNT
loading LTC
loading CNC
loading NSR
loading WDC
loading STO
loading NEO
loading LINK
loading BTC
loading NXT
loading XMR
loading ETC
loading THETA
loading ICP
loading STEEM
loading QRK
loading BLK
loading SHIB
loading LSK
loading WBTC
loading IFC
loading MIOTA
loading XCP
loading EMC
loading TRC
loading BSV
loading CRO
loading DGC
loading DAO
loading EOS
loading TIPS
loading CBX
loading APH
loading AUR
loading XEM
loading BTS
loading LEO
loading XTZ
loading MNC
loading START
loading DOGE
loading NVC
loading OMNI
loading UNI
loading XC
loading DOT
loading BTG
loading PIVX
loading YAC
loading XLM
loading NMC
loading PPC
loading AVAX
loading DVC
{'Invalid_Symbols': []}
<class 'dict'>

In [7]:
ids

{'ADA': 'cardano',
 'SPA': 'sperax',
 'WAVES': 'waves',
 'ZEC': 'zcash',
 'FTC': 'feathercoin',
 'SOL': 'solana',
 'MEC': 'megacoin',
 'TRX': 'tron',
 'BNB': 'binancecoin',
 'AMP': 'amp-token',
 'FRC': 'freicoin',
 'BCN': 'bytecoin',
 'XPM': 'primecoin',
 'DASH': 'dash',
 'FCT': 'factom',
 'REP': 'augur',
 'MAID': 'maidsafecoin',
 'XRP': 'ripple',
 'BCH': 'bitcoin-cash',
 'LUNA': 'terra-luna',
 'ETH': 'ethereum',
 'GNT': 'greentrust',
 'LTC': 'litecoin',
 'CNC': 'global-china-cash',
 'NSR': 'nushares',
 'WDC': 'worldcoin',
 'STO': 'storeum',
 'NEO': 'neo',
 'LINK': 'chainlink',
 'BTC': 'bitcoin',
 'NXT': 'nxt',
 'XMR': 'monero',
 'ETC': 'ethereum-classic',
 'THETA': 'theta-token',
 'ICP': 'internet-computer',
 'STEEM': 'steem',
 'QRK': 'quark',
 'BLK': 'blackcoin',
 'SHIB': 'shiba-inu',
 'LSK': 'lisk',
 'WBTC': 'wrapped-bitcoin',
 'IFC': 'infinitecoin',
 'MIOTA': 'iota',
 'XCP': 'counterparty',
 'EMC': 'emercoin',
 'TRC': 'terracoin',
 'BSV': 'bitcoin-cash-sv',
 'CRO': 'crypto-com-chain',
 'DGC': 'digitalcoin',
 'DAO': 'dao-maker',
 'EOS': 'eos',
 'TIPS': 'fedoracoin',
 'CBX': 'bullion',
 'APH': 'apholding-coin',
 'AUR': 'aurum',
 'XEM': 'nem',
 'BTS': 'bitshares',
 'LEO': 'leo-token',
 'XTZ': 'tezos',
 'MNC': 'maincoin',
 'START': 'bscstarter',
 'DOGE': 'dogecoin',
 'NVC': 'novacoin',
 'OMNI': 'omni',
 'UNI': 'uniswap',
 'XC': 'xcom',
 'DOT': 'polkadot',
 'BTG': 'bitcoin-gold',
 'PIVX': 'pivx',
 'YAC': 'yacoin',
 'XLM': 'stellar',
 'NMC': 'namecoin',
 'PPC': 'peercoin',
 'AVAX': 'avalanche-2',
 'DVC': 'dragonvein'}

In [73]:
piv = pd.pivot_table (df,values="Price",index="Date",columns="Symbol")
for i in range(len(piv.index)):
    if (piv.index[i].value%100000000000)>0:
        print (piv.index[i])
piv.loc['2017-06-06']

2017-06-06 23:29:55.701000
2017-06-08 23:39:21.692000
2018-01-30 00:05:01.596000
2018-01-30 00:05:01.958000
2018-01-30 00:05:03.270000
2018-01-30 00:05:04.187000
2018-01-30 00:05:05.117000
2018-01-30 00:05:08.241000
2018-01-30 00:05:08.291000
2018-01-30 00:05:10.318000
2018-01-30 00:05:11.070000
2018-01-30 00:05:12.320000
2018-01-30 00:05:14.355000
2018-01-30 00:05:14.489000
2018-01-30 00:05:14.981000
2018-01-30 00:05:15.267000
2018-01-30 00:05:15.587000
2018-01-30 00:05:15.934000
2018-01-30 00:05:16.841000
2018-01-30 00:05:17.080000
2018-01-30 00:05:17.244000
2018-01-30 00:05:17.289000
2018-01-30 00:05:18.254000
2018-01-30 00:05:18.718000
2018-01-30 00:05:19.479000
2018-01-30 00:05:19.489000
2018-01-30 00:05:19.535000
2018-01-30 00:05:19.550000
2018-01-30 00:05:19.614000
2018-01-30 00:05:19.768000
2018-01-30 00:05:19.780000
2018-01-30 00:05:19.782000
2018-01-30 00:05:19.821000
2018-01-30 00:05:19.920000
2018-01-30 00:05:19.958000
2018-01-30 00:05:19.963000
2018-01-30 00:05:20.035000
2018-01-30 00:05:20.099000
2018-01-30 00:05:20.131000
2018-01-30 00:05:20.501000
2018-01-30 00:05:20.794000
2018-01-30 00:05:20.899000
2018-01-30 00:05:20.939000
2018-01-30 00:05:20.999000
2018-01-30 00:05:21.042000
2018-01-30 00:05:21.088000
2018-01-30 00:05:21.197000
2018-01-30 00:05:23.272000
2018-01-30 00:05:24.318000
2018-01-30 00:05:24.939000
2018-01-30 00:05:27.548000
2018-02-08 00:05:01.514000
2018-02-08 00:05:01.628000
2018-02-08 00:05:02.760000
2018-02-08 00:05:03.584000
2018-02-08 00:05:04.282000
2018-02-08 00:05:07.122000
2018-02-08 00:05:07.189000
2018-02-08 00:05:11.074000
2018-02-08 00:05:12.858000
2018-02-08 00:05:13.295000
2018-02-08 00:05:13.549000
2018-02-08 00:05:13.790000
2018-02-08 00:05:15.199000
2018-02-08 00:05:15.466000
2018-02-08 00:05:15.484000
2018-02-08 00:05:17.681000
2018-02-08 00:05:17.713000
2018-02-08 00:05:17.727000
2018-02-08 00:05:17.796000
2018-02-08 00:05:17.868000
2018-02-08 00:05:17.996000
2018-02-08 00:05:18.011000
2018-02-08 00:05:18.074000
2018-02-08 00:05:18.149000
2018-02-08 00:05:18.620000
2018-02-08 00:05:18.734000
2018-02-08 00:05:18.785000
2018-02-08 00:05:18.856000
2018-02-08 00:05:20.789000
2018-02-08 00:05:21.392000
2018-02-08 00:05:21.414000
2018-02-08 00:05:21.832000
2018-02-08 00:05:22.523000
2018-02-08 00:05:23.681000
2018-02-08 00:05:27.982000
2018-02-08 00:05:28.160000
2018-02-08 00:05:28.171000
2018-02-08 00:05:28.226000
2018-02-08 00:05:28.260000
2018-02-08 00:05:28.354000
2018-02-08 00:05:28.396000
2018-02-08 00:05:28.407000
2018-02-08 00:05:28.443000
2018-02-08 00:05:28.544000
2018-02-08 00:05:28.638000
2018-02-08 00:05:28.706000
2018-02-08 00:05:28.708000
2018-02-08 00:05:29.263000
2021-11-19 20:48:35
2021-11-26 16:43:53
2021-12-10 06:17:02
2021-12-10 16:04:01
2021-12-11 16:37:59

Symbol,ADA,AMP,APH,AUR,AVAX,BCH,BCN,BLK,BNB,BSV,...,XC,XCP,XEM,XLM,XMR,XPM,XRP,XTZ,YAC,ZEC
Date,,,,,,,,,,,,,,,,,,,,,
2017-06-06 00:00:00.000,NaN,NaN,NaN,NaN,NaN,NaN,0.003834,0.264465,NaN,NaN,...,NaN,13.316406,0.237176,0.045038,56.291425,0.508055,0.285504,NaN,NaN,259.84
2017-06-06 23:29:55.701,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
dfMarket = pd.DataFrame()
ids = cgk.getCoinGeckoId(symbols)
for i in range(len(ids)):
    try:
        data = cg.get_coin_market_chart_by_id(ids[i],'usd',5000)
        df = pd.DataFrame(data['prices'],columns=['date','price'])
        df['symbol']=symbols[i]
        df['date']=pd.to_datetime(df['date']*1000000)
        dfMktCap = pd.DataFrame(data['market_caps'], columns=['date','market_cap'])
        df['market_cap']=dfMktCap['market_cap']
        dfTotVol = pd.DataFrame(data['total_volumes'], columns=['date','total_volume'])
        df['total_volume'] = dfTotVol['total_volume']
        dfMarket=dfMarket.append(df)
    except ValueError:
        print (f"Invalid symbol: {symbols[i]}")
dfMarket

Invalid symbol: STRAT
Invalid symbol: TRMB

                   date     price symbol  market_cap  total_volume
0   2021-05-13 00:00:00  1.933058    ADA         0.0  2.597940e+07
1   2021-05-14 00:00:00  1.933058    ADA         0.0  2.597940e+07
2   2021-05-15 00:00:00  2.009956    ADA         0.0  2.020697e+07
3   2021-05-16 00:00:00  2.191646    ADA         0.0  3.358890e+07
4   2021-05-17 00:00:00  2.281148    ADA         0.0  2.659651e+07
..                  ...       ...    ...         ...           ...
946 2021-12-10 00:00:00  0.004224    DVC         0.0  0.000000e+00
947 2021-12-11 00:00:00  0.005574    DVC         0.0  0.000000e+00
948 2021-12-12 00:00:00  0.005574    DVC         0.0  0.000000e+00
949 2021-12-13 00:00:00  0.005574    DVC         0.0  0.000000e+00
950 2021-12-13 00:58:47  0.005574    DVC         0.0  0.000000e+00

[24194 rows x 5 columns]

In [38]:
(dt.datetime.now()-dt.datetime.fromtimestamp(data['prices'][-3][0]/1000)).days

1

In [76]:
data2 = cg.get_coin_market_chart_by_id(ids[i],'usd',2,interval='daily')
data2json = json.dumps(data2)
data2json
data1json = json.dumps(data1)

In [77]:
def FullMergeDict(one, two):
  return { key:one.get(key,[])+two.get(key,[]) for key in set(list(one.keys())+list(two.keys())) }

data3 = FullMergeDict(data2,data1)
data3

{'market_caps': [[1639267200000, 0.0],
  [1639353600000, 0.0],
  [1639361084000, 0.0],
  [1639353600000, 0.0],
  [1639359062000, 0.0]],
 'prices': [[1639267200000, 0.005574445388506399],
  [1639353600000, 0.005574445388506399],
  [1639361084000, 0.005574445388506399],
  [1639353600000, 0.005574445388506399],
  [1639359062000, 0.005574445388506399]],
 'total_volumes': [[1639267200000, 0.0],
  [1639353600000, 0.0],
  [1639361084000, 0.0],
  [1639353600000, 0.0],
  [1639359062000, 0.0]]}

In [79]:
data1

{'prices': [[1639353600000, 0.005574445388506399],
  [1639359062000, 0.005574445388506399]],
 'market_caps': [[1639353600000, 0.0], [1639359062000, 0.0]],
 'total_volumes': [[1639353600000, 0.0], [1639359062000, 0.0]]}

In [78]:
data2

{'prices': [[1639267200000, 0.005574445388506399],
  [1639353600000, 0.005574445388506399],
  [1639361084000, 0.005574445388506399]],
 'market_caps': [[1639267200000, 0.0],
  [1639353600000, 0.0],
  [1639361084000, 0.0]],
 'total_volumes': [[1639267200000, 0.0],
  [1639353600000, 0.0],
  [1639361084000, 0.0]]}

In [ ]:
for i in range(0,len(symbols),50):
    price = cg.get_price(ids=symbols[i:i+50], vs_currencies='usd', include_market_cap = True)
    print (price)

In [ ]:
cg.get_coin_history_by_id('pibble','10-10-2018')

In [ ]:
df=pd.read_json('coingecko-coins-markets.json')
df['id'].tolist()

In [ ]:
from coingeckokit import STABLECOINS
df[df['symbol'].isin(STABLECOINS)]

In [81]:
# data=cg.get_coins_list()
for i in range(len(data)):
    data[i]['symbol']=data[i]['symbol'].upper()
data[0]['symbol']

'ZOC'

In [111]:
ids

{'ADA': 'cardano',
 'SPA': 'sperax',
 'WAVES': 'waves',
 'ZEC': 'zcash',
 'FTC': 'feathercoin',
 'SOL': 'solana',
 'MEC': 'megacoin',
 'TRX': 'tron',
 'BNB': 'binancecoin',
 'AMP': 'amp-token',
 'FRC': 'freicoin',
 'BCN': 'bytecoin',
 'XPM': 'primecoin',
 'DASH': 'dash',
 'FCT': 'factom',
 'REP': 'augur',
 'MAID': 'maidsafecoin',
 'XRP': 'ripple',
 'BCH': 'bitcoin-cash',
 'LUNA': 'terra-luna',
 'ETH': 'ethereum',
 'GNT': 'greentrust',
 'LTC': 'litecoin',
 'CNC': 'global-china-cash',
 'NSR': 'nushares',
 'WDC': 'worldcoin',
 'DVC': 'dragonvein'}

In [112]:
file = './data/valid-symbol-id.json'
with open (file,'w') as f:
    json.dump(ids,f)